<?xml version="1.0"?>

<robot name="niryo_one" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find niryo_one_description)/urdf/v2/niryo_one_wgripper.urdf.xacro" />
  <xacro:include filename="$(find niryo_one_description)/urdf/v2/test_r410_camera.urdf.xacro" />


 </robot>






